// Файл обнуляющих стилей
@import "nullstyle.scss";



.ibg{
	background-position: center; background-size: cover; background-repeat: no-repeat; position: relative;
	}
	
.ibg img{
	width: 0; height: 0; position: absolute; top: 0; left: 0; opacity: 0; visibility: hidden;
	}

.wrapper {
	overflow: hidden;
	min-height: 100%;
}

.page {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	display: flex;	
	flex-direction: column;
	font-family: Oswald;
}

.container {		
	max-width: 1130px;
	padding: 0px 15px;
	margin: 0 auto;
}

.mainpage {
	flex: 0 1 100%;
	position: relative;

	&_bg {
		position: absolute;
		width: 50%;
		height: 100%;
		left: 50%;
		top: 0;
	}

	&__row {
		margin: 140px 0 0 0 ;
		display: flex;
		justify-content: center;
	}

	&__left {
		flex: 0 1 37%;
		margin: 110px 0px 0px 80px;
	}

	&__right {
		flex: 0 1 63%;
		margin: 0 0 0 -85px;
	}
}

.left {
		&__title {
			font-size: 60px;
			line-height: 60px;
		}

		&__slogan {	
			font-size: 20px;
			line-height: 20px;
			margin: 40px 0px 52px 0px;
			text-transform: uppercase;
		}

		&__btn {
			font-size: 20px;
			background: #68B738;
			padding: 8px 26px 14px 26px;	
			display: inline;
			text-transform: uppercase;
			a{
				color: #FFF;
				&:hover{
					text-decoration: underline solid #fff 2px;
				}
			}
		}
}

.right {
		position: relative;
}

.header {
	padding: 50px 0 0 0;
	position: absolute;
	z-index: 50;
	align-items: center;
	justify-content: space-between;
	width: 100%;
		&__menu {
			display: flex;
			flex: 0 1 70%;
			align-items: center;
			justify-content: space-between;
		}
		&__logo {
			text-align: left;
			flex: 0 1 30%;
		}

}

.menu {
	&__list{
		display: flex;
	}

	&__link {
		font-size: 20px;
		color: #fff;
		text-transform: uppercase;
		margin: 0px 16px;
	}

	&__link:last-child {
		margin: 0px 0px 0px 16px;
	}

	&__link:hover{
		text-decoration: underline solid #fff 2px;
	}
}

@media(max-width:980px){
	.mainpage {
		&__left {
			margin: 110px 0px 0px 0px;
		}
	}
}

@media(max-width:925px){
	.menu__link{
		font-size: 16px;
	}
}

@media(max-width:868px){
	.menu__link{
		font-size: 16px;
	}

	.left {
			&__title {
			font-size: 40px;
			line-height: 40px;
			z-index: 2;
			position: relative;
		}

		&__slogan {	
			font-size: 16px;
			line-height: 16px;
			margin: 40px 0px 50px 0px;
			z-index: 2;
			position: relative;
		}

		&__btn {
			font-size: 16px;
			background: #68B738;
			padding: 6px 20px 10px 20px;
			a{
				color: #FFF;
			}
		}
	}

	.icon-menu{
		span{
			background: #68B738;
		}
	}
}

@media (max-width:767px){
	.menu{
		&__body{
			position: fixed;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background: #68B738;
			padding: 150px 0 20px 0;
			overflow: auto;	
			transition: all 0.3s ease 0s;
			transform: translate(-100%, 0px);
			&.active{
				transform: translate(0%, 0px);
			}
		}

		&__list{
			flex-direction: column;
			justify-content: center;
			align-items: center;
			li{
				padding: 0 0 45px 0;
				&:nth-child(2),
				&:nth-child(3){
					padding: 0 0 45px 0;
					&::after{
						display: block; 
					}
				}
				&:last-child{
					padding: 0;
				}
				&:after{
					width: 4px;
					height: 4px;
					background-color: #fff;
					right: 50%;
					top: 40px;
					margin: 0 -2px 0 0;
				}
			}
		}

		&__link{
			color: #fff;
			font-size: 20px;
		}
	}

	.icon-menu{
		z-index: 5;
		display: block;
		position: absolute;
		top: 20px;
		right: 10px;
		width: 30px;
		height: 18px;
		cursor: pointer;
		span{
			top: 8px;
			left: 0;
			position: absolute;
			width: 100%;
			height: 2px;
			background: #000;
			transition: all 0.3s ease 0s;
			&:first-child{top: 0px;}
			&:last-child{top: auto; bottom: 0px;}
		}

		
		&.active{
			span{
				background-color: #fff;;
				transform: scale(0);
				transition: all 0.3s ease 0s;
				&:first-child{transform: rotate(45deg); top: 8px; transition: all 0.3s ease 0s;}
				&:last-child{transform: rotate(-45deg); bottom: 8px; transition: all 0.3s ease 0s;}
			}
		}
	}

	.mainpage {
		&__row{
			margin: 40px 0 0 0;
			flex-direction: column;
			align-items: center;
		}
		&_bg {
			display: none;
		}
	}
	
	.left {
		&__btn {
			z-index: 2;
			position: relative;
		}
	}

	.header__logo{
		position: absolute;
		top: 1px;
		left: 32%;
		z-index: 2;
	}
}

@media (max-width:480px){

	.header__logo{
		position: absolute;
		top: 1px;
		left: 20%;
		z-index: 2;
	}
	.header {
		margin: 10px 0 10px 0;
		position: relative;
		order: 1;
	}
	.mainpage{
		order: 2;
	
		&__row{
			margin: 0;
			flex-direction: column;
		}

		&_bg{
			display: block;
			position: absolute;
			width: 100%;
			height: 60%;
			left: 0;
			top: 0;
			top: 60px;
		}

		&__right {
			img{
				width: 90%;
				height: 90%;
				top: 10;
				left: 10%;
				position: relative;
				object-fit: contain;
			}
		}
	}

	.left{
		color: #FFF;
		text-align: center;

		&__title {
			font-size: 36px;
		}	

		&__slogan {
			font-size: 14px;
		}

		&__btn {
			position: absolute;
			font-size: 20px;
			top: 80%;
			left: 10%;
			padding: 7px 60px;
		}
	}
}

.content {
	order: 3;
}

.deal {

	&__row {
		display: flex;
	}

	&__item {
		flex: 0 1 50%;
		padding: 50px;
		background: #f2f2f2;
		margin: 80px 40px 70px 0px;
	}

	&__item:last-child {
		margin: 80px 0px 70px 40px;
	}

	&__logo {
		display: flex;
		align-items: center;

		&_img {
			flex: 0 1 134px;
		}

		&_title {
			text-align: left;
			font-size: 36px;
			text-transform: uppercase;
		}
	}

	&__text {
		font-size: 16px;
		line-height: 24px;
		margin: 39px 0 27px 0;
	}

	&__btn {
		display: flex;
		align-items: center;
		vertical-align: center;
		justify-content: space-between;
		font-size: 20px;
		text-transform: uppercase;
		justify-content: left;
		a{
			color: #000;
		}
		:hover{
			text-decoration: underline #000 2px solid;
		}
	}
}

@media(max-width:900px){
	.deal {

		&__item {
			padding: 30px;
			margin: 20px 20px;
		}

		&__item:last-child {
			margin: 20px 20px;
		}
	}	
}

@media(max-width:767px){
	.deal__row{
		flex-direction: column;
	}
}

.how {

	&__rows{
		display: flex;

	}

	&__row {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__item {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		flex: 0 1 50%;
		margin: 20px 20px 20px 20px;
		font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
		font-size: 16px;
		color: #444;
		position: relative;	
		background: url(/img/icon/1.png) no-repeat right;
		background-size: contain;
		height: 100%;

		&_2 {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			flex: 0 1 50%;
			margin: 20px 20px 20px 20px;
			font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
			font-size: 16px;
			color: #444;
			position: relative;	
			background: url(/img/icon/2.png) no-repeat right;
			background-size: contain;
			height: 100%;
		}

		&_3 {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			flex: 0 1 50%;
			margin: 20px 20px 20px 20px;
			font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
			font-size: 16px;
			color: #444;
			position: relative;	
			background: url(/img/icon/3.png) no-repeat right;
			background-size: contain;
			height: 100%;
		}

		&_4 {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			flex: 0 1 50%;
			margin: 20px 20px 20px 20px;
			font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
			font-size: 16px;
			color: #444;
			position: relative;	
			background: url(/img/icon/4.png) no-repeat right;
			background-size: contain;
			height: 100%;
		}
	}

	&__logo {
		height: 100%;
		width: 100%;
		
		}
	

	&__text {
		padding: 10px 0 0 0;
	}
}

@media(max-width:800px){
	.how{
		&__row{
			margin: 0;
		}
		&__rows{
			flex-direction: column;
		}
		&__item {
			margin: 0 60px 20px 20px;
			&_2{
				margin: 0 20px 20px 60px;
			}
			&_3{
				margin: 0 60px 20px 20px;
			}
			&_4{
				margin: 0 20px 20px 60px;
			}
		}
	}
}

@media(max-width:480px){
	.how{
		&__row{
			margin: 0;
			flex-direction: column;
		}
		&__item {
			margin: 20px 25%;
			&_2{
				margin: 20px 25%;
			}
			&_3{
				margin: 20px 25%;
			}
			&_4{
				margin: 20px 25%;
			}
		}
	}
}

.exemple {
	order: 4;
	background: linear-gradient(0deg, rgba(220,220,220,1) 0%, rgba(220,220,220,1) 70%, rgba(255,255,255,1) 70%);
	max-width: 100%;
	padding: 20px 0px 60px 0px;
	&__grid {
		display: grid;
		grid-template-columns: 40% 60%; 
		grid-template-rows: minmax(160px,0.4fr) minmax(140px,0.4fr) 120px 40px;
	}

	&__title {
		padding: 10% 0 0 0;
		font-family: Oswald;
		font-size: 60px;
	}

	&__text {
		padding: 8% 0 0 0;
		font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
		color: #444;
		font-size: 16px;
		line-height: 24px;
	}

	&__number {
		display: flex;
	}

	&__number_2 {
		display: flex;
	}

	&__img {
		grid-row: 1/4;
		grid-column: 2/3;
		}

	&__roll {
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		text-align: center;
		-webkit-appearance: none; 	
		appearance: none;
		width: 100%;
		background: #dcdcdc; 
		outline: none; 
		opacity: 1; 
		transition: opacity .2s;
	}
}


.number {
	align-items: center;
	&__row{
		display: flex;
		align-items: center;
		flex-direction: column;
	}
	&__column{
		display: flex;
		align-items: center;
	} 

	&__title{
		margin: 0px 20px 4px 20px;
		font-size: 30px;
		line-height: 37px;
		padding: 15px 30px 10px 30px;
		border: 1px solid #CDCDCD;
		border-radius: 3px;
	}

	&__title:first-child{
		padding: 15px 57px 10px 57px;
	}

	&__subtitle{
		margin: -15px 50px 0px 60px;
		padding: 1px 5px 5px 5px;
		background-color: #dcdcdc;
	}

	&__text {
		font-size: 20px;
		line-height: 20px;
		margin: 0 10px 0 20px;
	}
}

@media(max-width:1060px){
	.number{
		&__title{
			font-size: 24px;
		}
		
		&__subtitle{
			font-size: 12px;
		}
	}
}

@media(max-width:990px){
.exemple {
	background: linear-gradient(0deg, rgba(220,220,220,1) 0%, rgba(220,220,220,1) 85%, rgba(255,255,255,1) 85%);
	padding: 20px 0px 0px 0px;
	&__grid {
		display: grid;
		grid-template-columns: 50% 50%; 
		grid-template-rows: minmax(100px,0.4fr) minmax(80px,0.4fr) 120px minmax(80px,100%) 80px;
	}

	&__title {
		padding: 0;
		grid-row: 1/2;
		grid-column: 1/3;
	}

	&__text {
		padding: 0;
		grid-row: 2/3;
		grid-column: 1/3;
	}

	&__number {
		grid-row: 3/4;
		grid-column: 1/2;
	}

	&__number_2 {
		grid-row: 3/4;
		grid-column: 2/3;
	}

	&__img {
		grid-row: 4/5;
		grid-column: 1/3;
		height: 100%;
		width: 100%;
		position: relative;
		text-align: center;		
		img{
		object-fit: contain;
		height: 100%;
		width: 100%;
		position: relative;
		left: 0;
		top: 0;
		}
	}

	&__roll {
		margin: -250px 0 0 0;
		grid-row: 5/6;
		grid-column: 1/3;
	}
}

.number {
	align-items: center;
	&__row{
		display: flex;
		align-items: center;
		flex-direction: column;
	}
	&__column{
		display: flex;
		align-items: center;
	} 

	&__title{
		margin: 0px 20px 4px 20px;
		font-size: 30px;
		line-height: 37px;
		padding: 15px 30px 10px 30px;
		border: 1px solid #CDCDCD;
		border-radius: 3px;
	}

	&__title:first-child{
		padding: 15px 57px 10px 57px;
	}

	&__subtitle{
		margin: -15px 50px 0px 60px;
		padding: 1px 5px 5px 5px;
		background-color: #dcdcdc;
	}

	&__text {
		font-size: 20px;
		line-height: 20px;
		margin: 0 10px 0 20px;
	}
}
}

@media(max-width:850px){
	.exemple {
		background: linear-gradient(0deg, rgba(220,220,220,1) 0%, rgba(220,220,220,1) 82%, rgba(255,255,255,1) 82%);
	}

	.number {
		&__title{
			margin: 0px 10px 4px 10px;
			font-size: 24px;
		}
	
		&__subtitle{
			font-size: 10px;
		}
	
		&__text {
			font-size: 18px;
		}
	}
}

@media(max-width:748px){


	.number {
		&__title{
			margin: 0px 10px 4px 10px;
			font-size: 24px;
			padding: 15px 20px 10px 20px;
		}
	
		&__title:first-child{
			padding: 15px 41px 10px 41px;
		}
		&__subtitle{
			font-size: 10px;			
			margin: -12px 40px 0px 40px;
		}
	
		&__text {
			font-size: 18px;
		}
	}

	.exemple {
		background: linear-gradient(0deg, rgba(220,220,220,1) 0%, rgba(220,220,220,1) 100%, rgba(255,255,255,1) 100%);
		&__grid {
			display: flex;
			flex-direction: column;
		}
	
		&__title {
		}
	
		&__text {
			margin: 10px 50px 10px 0;
		}
	
		&__number {
			margin: 0 auto;
		}
	
		&__number_2 {
			margin: 0 auto;
			padding: 20px 0px;
		}
	
		&__img {
			margin: 0 0 -100px 0;
		}
	
		&__roll {
			margin: 0px 0px 20px 0px;
		}
	}
}

@media(max-width:580px){
	.exemple{
		&__img {
			margin: 0 0 -50px 0;
		}
	}
	
}

.map {
	order: 5;
	height: 400px;
	width: 100%;
}

.footer {
	order: 6;
	background: #f2f2f2;
	max-width: 100%;

	&__row {
		display: flex;
		margin: 60px 0;
		align-items: center;
		justify-content: space-between;
	}

	&__logo {
		margin: 0 40px;
		flex: 0 1 33.333%;
	}

	&__links {
		margin: 0px 30%;
		flex: 0 1 33.333%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		}

	&__copyright {
		text-align: right;
		flex: 0 1 33.333%;
	}
}

@media(max-width:1180px){
	.footer {
		&__links {
			margin: 0px 20%;
		}
	}
}

@media(max-width:800px){
	.footer {	
		&__row {
			display: flex;
			flex-direction: column;
		}
	
		&__logo {
			border-bottom: 2px solid #CDCDCD;
			padding: 0 30% 20px 30%;
		}
	
		&__links {
			margin: 20px 0 8px 0;
			border-bottom: 2px solid #CDCDCD;
			padding: 0 33% 20px 33%;
			}
	
		&__copyright {

			margin: 10px 0 0 0;
		}
	}
}